{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .vote-register {
    background: url('{% static "img/vote3.jpg" %}');
    background-position: center;

    margin-top: -24px;
    margin-bottom: -25px;
  }

  .overlay-dark {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
  }
</style>
<section class="py-4">
  <div class="vote-register">
    <div class="overlay-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-white">
            <h1 class="mt-5">
              Built for <br />
              Beauty contest
            </h1>
            <p>
              Electronic voting is voting that uses electronic means to either
              aid or take care of casting and counting votes. Depending on the
              particular implementation, e-voting may use standalone ... the
              disabled with mobility impairments. For the country, electronic
              voting may improve the country's image and serve as a promotion.
            </p>
          </div>

          <div class="col-md-5 ml-auto">
            <div class="card shadow rounded mt-2 mb-2">
              <div class="card-header text-center">
                <h3 class="">Voter's Sign up</h3>
              </div>
              <div class="card-body">
                {% if error %}
                <p class="alert alert-danger">{{ error }}</p>
                {% endif %}
                <form action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="name">UserName</label>
                    <input
                      type="text"
                      name="username"
                      class="form-control shadow-sm rounded"
                      value=""
                    />
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      type="text"
                      name="email"
                      class="form-control shadow-sm rounded"
                    />
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      name="password"
                      class="form-control shadow-sm rounded"
                    />
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      name="password1"
                      class="form-control shadow-sm rounded"
                    />
                  </div>

                  <button
                    type="submit"
                    class="btn btn-success btn-lg btn-block"
                  >
                    Sign up for beauty contest
                  </button>
                  <p class="mt-3">
                    By clicking “Sign up for beauty contest”, you agree to our
                    Terms of Service and Privacy Statement.
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
